/* CSS - This file contains all of the style and layouts for the site */

* {
    font-family:Arial, Helvetica, sans-serif;

    --bg-color: rgb(231, 231, 231);
    --page-color: white;
    --panel-color: rgb(20, 20, 20);
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 1rem;

    background-color: var(--bg-color);
}

#page {
    flex: 1;

    border: 0;
    border-radius: 5px;

    box-shadow: rgb(187, 187, 187) 2px 2px 0;

    background-color: var(--page-color);

    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: var(--panel-color);
    padding: 0.5rem;
}

nav #logo {
    flex: 0;
}

nav img {
    border: 0;
    border-radius: 10px;

    max-width: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;

    gap: 1rem;

    list-style: none;
    margin-right: 0.5rem;
}

nav ul li a {
    display: block;

    color: black;
    background-color: white;

    border-radius: 5px;
    padding: 0.5rem;

    text-decoration: none;
    font-size: 0.85rem;

    transition: all 0.25s;
}
nav ul li a:hover {
    color: white;
    background-color: dodgerblue;
}

footer {
    display: flex;

    align-items: center;
    justify-content: center;

    color: white;
    background-color: var(--panel-color);

    padding: 0.5rem 1rem;
    font-size: 0.85rem;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0078D7;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}
